# Virtual environment
hack-env/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Database
*.db
instance/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
